{#
 # Created by PhpStorm.
 # User: lqdung1992@gmail.com
 # Date: 3/3/2018
 # Time: 2:33 PM
 #}
{% block stylesheet %}
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick-theme.css"/>
    <style type="text/css">
        #banner img {
            width: 100%;
        }

        #banner .banner-item {
            margin-bottom: 5px;
        }
    </style>
{% endblock stylesheet %}

{% set banners = repository("Plugin\\BannerSimple\\Entity\\Banner").getBanners() %}
{% if banners|length > 0 %}
    <script type="text/javascript">
        $(function () {
            $(window).load(function() {
                $('.banner-item').matchHeight();
            });
        });
    </script>
    <div id="banner" class="ec-sliderRole">
        <div class="row clearfix">
            {% for banner in banners %}
                {% if banner.big == constant('Plugin\\BannerSimple\\Entity\\Banner::IS_BIG') %}
                    <div class="col-sm-12 col-xs-12 banner-item">
                        {% if banner.link %}
                        <a href="{{banner.link}}" {% if banner.target %}target="_blank"{% endif %}>
                            {% endif %}
                            <img src="{{ asset('Banner/'~banner.file_name, 'save_image') }}" >
                            {% if banner.link %}
                        </a>
                        {% endif %}
                    </div>
                {% else %}
                    <div class="col-sm-6 col-xs-6 banner-item">
                        {% if banner.link %}
                        <a href="{{banner.link}}" {% if banner.target %}target="_blank"{% endif %}>
                            {% endif %}
                            <img src="{{ asset('Banner/'~banner.file_name, 'save_image') }}" >
                            {% if banner.link %}
                        </a>
                        {% endif %}
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endif %}
