{#
 # Created by PhpStorm.
 # User: lqdung1992@gmail.com
 # Date: 10/15/2018
 # Time: 11:14 AM
 #}
{% block stylesheet %}
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick-theme.css"/>
    <style type="text/css">
        .slider-nav img {
            padding: 2%;
        }
        @media only screen and (max-width: 767px) {
            .slider-nav {
                display: none;
            }
        }
        #main-visual img {
            width: 100%;
        }
        .thumb img {
            height: 100px;
        }
        #main-visual .slick-slider {
            margin-bottom: 10px;
        }
        .slick-prev:before, .slick-next:before {
            opacity: .25;
            color: black;
        }
    </style>
{% endblock stylesheet %}

{% set sliders = repository("Plugin\\BannerSimple\\Entity\\Banner").getSliders() %}

{% if sliders|length > 0 %}
    <div id="main-visual" class="ec-sliderRole">
        <div class="row">
            <div class="col-xs-12">
                <div class="slider slider-for">
                    {% for slider in sliders %}
                        <div class="item">
                            {% if slider.link %}
                            <a href="{{ slider.link }}" {% if slider.target %}target="_blank"{% endif %}>
                                {% endif %}
                                <img src="{{ asset('Banner/'~slider.file_name, 'save_image') }}" >
                                {% if slider.link %}
                            </a>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
                <div class="slider slider-nav">
                    {% for slider in sliders %}
                        <div class="thumb">
                            <img src="{{ asset('Banner/'~slider.file_name, 'save_image') }}" >
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $(function() {
            $('#main-visual .slider-for').slick({
                slidesToShow: 1,
                slidesToScroll: 1,
                arrows: false,
                fade: true,
                autoplay: true,
                speed: 300,
                adaptiveHeight: true,
                asNavFor: '.slider-nav',
                responsive: [
                    {
                        breakpoint: 768,
                        settings: {
                            arrows: true,
                            dots: true
                        }
                    }
                ]
            });
            var slider_num = '{{ sliders|length }}';
            if (slider_num < 6) {
                slider_num = 3;
            } else {
                slider_num = 5;
            }

            $('#main-visual .slider-nav').slick({
                slidesToShow: slider_num,
                slidesToScroll: 1,
                asNavFor: '.slider-for',
                arrows: true,
                centerMode: true,
                focusOnSelect: true
            });
        });
    </script>
{% endif %}
